@model IEnumerable<EstoqueLab.UI.Models.Categoria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categorias</h1>

<a class="btn btn-sm btn-dark justify-content-end" style="float:right; margin:5px;" href="/Produto" role="button">
    <i class="fa-solid fa-list-check"></i> Produtos
</a>
<a class="btn btn-sm btn-dark justify-content-end" style="float:right; margin:5px;" href="/Categoria/Create" role="button">
    <i class="fas fa-plus-circle"></i> Cadastrar Categoria
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Ativo
            </th>
            <th>
                Data Criação
            </th>
            <th>
                Data Atualização
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CriadoEm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AtualizadoEm)
                </td>
                <td>
                    <a class="btn btn-sm btn-danger justify-content-end" style="float:right; margin:5px;" href="/Categoria/Delete" role="button">
                        <i class="fa-solid fa-trash"></i> Excluir
                    </a>
                    <a class="btn btn-sm btn-secondary justify-content-end" style="float:right; margin:5px;" href="/Categoria/Edit" role="button">
                        <i class="fa-solid fa-pen-to-square"></i> Editar
                    </a>
                    <a class="btn btn-sm btn-light justify-content-end" style="float:right; margin:5px;" href="/Categoria/Details" role="button">
                        <i class="fa-solid fa-circle-info"></i> Detalhes
                    </a> 
                </td>
            </tr>
        }
    </tbody>
</table>
